<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Chuku Omoke">
    <meta name="description" content="Hscgroup page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Health System Consult Limited</title>

    <!-- CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <link rel="stylesheet" href="css/flaticon.css">


    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>

        <%- include('partials/modals') %>

            <!-- Hero Section -->
            <%- include('partials/hero') %>

                <!-- About Section -->
                <%- include('partials/about') %>

                    <!-- What we do Section-->
                    <%- include('partials/services') %>

                        <!-- Project Section -->
                        <%- include('partials/projects') %>

                            <!-- PARTNERS SECTION -->
                            <%- include('partials/partners') %>

                                <!-- TEAM SECTION -->
                                <%- include('partials/team') %>


                                    <!-- Contact Section-->
                                    <%- include('partials/contact') %>

                                        <!-- Footer Section-->
                                        <%- include('partials/footer') %>


                                            <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

                                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "></script>
                                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "></script>
                                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "></script>

                                            <script src="/owlcarousel/owl.carousel.min.js "></script>
                                            <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                                            <script src="/js/index.js "></script>
</body>

</html>